<div class = "container">
  <div class = "row">
    <div class="px-3 mx-auto">
      <br>
      <br>
      <h1 style="text-align:center">管理者様</h1>
      　<h4 style="text-align:center">管理者ページへようこそ</h4>
      　<h4 style="text-align:center">お問い合わせの確認を必ず行ってください。</h4>
    </div>
  </div>
</div>