<div class='main-container'>
  <div class='row'>
    <div class='col-md-5 offset-md-1'>
      <br>
      <br>
      <br>
      <P>お問い合わせの送信が完了しました</P>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
    </div>
  </div>
</div>
