<div class = "container">
  <div class = "row">
    <div class="px-3 mx-auto">
      <br>
      <br>
      <h1 style="text-align:center">TAWLAとは</h1>
      　<h4 style="text-align:center">～take a walk in the local area～</h4>
        <p style="text-align:left">
              <br>
              <br>
              地域の名所を画像投稿、評価できるアプリケーションです。<br>
              少しの隙間時間でも自分の住んでいる地域を散歩し、<br>
              名所を投稿することで外に出る楽しさや意味を見つけてみましょう。<br>
        </p>
        <div class="about-image">
        </div>
      </div>
    </div>
    </div>
  </div>
</div>