/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";
 @import 'font-awesome-sprockets';
 @import 'font-awesome';

 .main-container {
  margin: 10px 50px;

}

 .main-subject {
  margin: 5px 50px;
  font-size: 25px;

}

.top {
 background: #f4f4f4;
}

.top_title {
  text-align: center;
  font-size: 30px;
}

.box {
  margin: 10px 5px 10px 5px;

}

.layout {
 display: flex;
 margin: 0 10px 0 0;
}
.eyecatche {
 flex: 0 0 40px;
 margin: 15px 5px 15px 5px;
}

.box_user.img {
 width: 100%;

}

.box_user.img:before{
 content: "";
 display: block;
 width: 100%;
 padding-top: 100%;
}

.box_text {
 flex: auto;
 min-width: 10PX;

}

.box_text_title {
 font-size: 15px;
}

.post-evaluation {
 font-size: 13px;
}

.box_text_body {
 font-size: 12px;
}


 .footer {
  width: 100%;
  background: #dcd0c0;

 }

 body {
  attachment_image_tag: image-url("no_image.jpg");
  image_tag: image-url("logo.jpg");
 }
